<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.startup">
      <startup class="besouro.plugin.BesouroPlugin">
      </startup>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view class="besouro.view.EpisodeView"
            id="besouro.view.EpisodeView"
            name="episodeView"
            restorable="true">
      </view>
   </extension>
</plugin>
